canvas {
    border: 3px solid #060606;
    margin: 20px auto;
    display: block;

}

.info {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: medium;
    max-width: 600px;
    align-items: center;
    gap: 6px;
}

.section {
    display: flex;
    gap: 6px;
}