canvas {
    border: 3px solid #060606;
    margin: 20px auto;
    display: block;

}

.info {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: medium;
}

.section {
    display: flex;
}